@use "../assets/sass/variables";
@use "../assets/sass/color";

* {
  margin: 0;
  padding: 0;
  font-family: variables.$font-family-regular;
}

.home-background {
  /* The image used */
  background-image: url("/assets/images/background/background.svg");
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container {
  margin-left: 20%;
  margin-right: 20%;
}

.home-tab {
  position: relative;
}

.home-time {
  position: absolute;
  right: 10px;
  top: 25px;
  color: color.$Text_secondary;
  font-family: variables.$font-family-regular;
  font-size: 14px;
}

@media screen and (max-width: 1023px) {
  .home-time {
    top: 60px;
  }

  .home-background {
    height: 100vh;
  }

  .home-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}
