<div class="home-background">
  <div class="home-container">
    <app-header
      (searchValue)="getCitiesBySearch($event)"
      [cityList]="cities"
    ></app-header>
    <div class="home-tab">
      <div class="home-time">
        <p>{{ today | date : "EEE, d MMM y h:mm a" }}</p>
      </div>
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="{{ Constants.home }}">
          <app-weather-detail-page
            [weather]="selectedWeather"
            (favouritebtnClick)="changeFav()"
          >
          </app-weather-detail-page>
        </mat-tab>

        <!-- <div *ngFor="let tab of tabs;">
           <mat-tab label={{tab.title}}>
            <app-weather-list-page errorMessage={{tab.errorMessage}}
                    status={{tab.getStatus}}
                    buttonName={{tab.buttonName}}
                    [cityclimate]="tab.getCities()"
                    (favouritebtnClick)="tab.change($event)"
                    (removebtnClick)="tab.clearAll"
                    (onClick)="tab.SetToHome($event)">
           </app-weather-list-page>
         </mat-tab>
        </div> -->

        <mat-tab label="{{ Constants.favouite }}">
          <app-weather-list-page
            errorMessage="{{ Constants.noFavourites }}"
            status="{{ getFaviouriteStatus() }}"
            buttonName="{{ Constants.faviouriteButtonName }}"
            [cityclimate]="getFavouiteCities()"
            (favouritebtnClick)="changeFavourite($event)"
            (removebtnClick)="clearAllFavourites()"
            (onClick)="SetToHome($event)"
          >
          </app-weather-list-page>
        </mat-tab>
        <mat-tab label="{{ Constants.recentSearch }}">
          <app-weather-list-page
            errorMessage="{{ Constants.noSearchResults }}"
            status="{{ Constants.recentSearchStatus }}"
            buttonName="{{ Constants.recentSearchButtonName }}"
            [cityclimate]="getSearchedCities()"
            (favouritebtnClick)="changeFavourite($event)"
            (removebtnClick)="clearRecentSearch()"
            (onClick)="SetToHome($event)"
          >
          </app-weather-list-page>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
