$Text_Primary: #000000;
$Text_secondary : #ffffff;
$Page_Background: #ffffff;
$Page_Background1: #FAFAFA;
$transparent_Background: rgba(255,255,255,0.2);
$transparent_Background_3 :rgb(255, 255, 255, 0.3);
$transparent : hsla(0, 100%, 50%, 0);
$theme : #F76B1C;
$CTA_Text1 : #E32843;
$CTA_Text2 : #FFD639;
